{% extends "layout.twig" %}

{% block title %}
{{ user.login }} repositories
{% endblock %}

{% block content %}
<h2>Repositories</h2>
<a href="{{ path('projects_refresh') }}">Refresh</a>
<form action="{{ path('projects') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="Save"/>
</form>
{% endblock %}
