{% extends "layout.twig" %}

{% block title %}
{{ user.login }} projects
{% endblock %}

{% block content %}
    <h2>Projects list (<a href="{{ path('projects_refresh') }}">refresh</a>)</h2>

    <form action="{{ path('projects') }}" method="post" {{ form_enctype(form) }} class="well">
    <fieldset>
        <legend><blockquote>Select the projects you want to appear in <a href="{{ path('board')}}">your dashboard</a>.</blockquote></legend>
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
   </fieldset>
    </form>
{% endblock %}

{% block javascripts %} {{ parent() }}
<script src="{{ app.request.basepath }}/octoprogress/js/jquery.toggle.buttons.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.toggle-button').toggleButtons({
            width: 60,
            style: {
                enabled: "success",
            },
            label: {
                enabled: "✔",
                disabled: "⨯"
            }
        });
    });
</script>
{% endblock %}
