{% extends "layout.twig" %}

{% block title %}
Projects - {{ user.login }} - Octoprogress
{% endblock %}

{% block content %}
    <h1>Projects.</h1>
    <div class="container">
        <p><a href="{{ path('projects_refresh') }}">Refresh</a> to select the projects you want to see on your <a href="{{ path('board') }}">board</a>.</p>
        <form action="{{ path('projects') }}" method="post" {{ form_enctype(form) }} id="projectsForm">
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
{% endblock %}
