{% if projects | length > 0  %}
<ul id="projects" class="row">
    {% for project in projects %}
    <li class="project span5">
        <div class="title top">
            <span class="mini-icon public-repo"></span>
            <a href="{{ project.url }}" title="View project on GitHub" target="_blank">{{ project.name }}</a>
        </div>
        <ul class="milestones">
            {% for milestone in project.milestones %}
            <li>
                <a href="{{ project.url }}/issues?milestone={{ milestone.number }}" title="View milestone on GitHub" target="_blank">{{ milestone.name }}</a>
                {% set total = milestone.openIssues + milestone.closedIssues %}
                {% set percentage = milestone.closedIssues / total * 100 %}
                <div class="progress progress-striped progress-milestone">
                    <div class="bar bar-success" style="width:{{ percentage }}%"></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% else %}
<div id="home">
    <h1>No Milestone Found.</h1>
    <div class="container">
        <p>There's no milestone to display. Perhaps you can <a href="{{ path('projects') }}">select some active projects</a> of your own.</p>
    </div>
</div>
{% endif %}
